html(lang='en')
    head
        include fragments/head.jade
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
        link(rel="stylesheet", href="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.1-master-a687bfc/angular-material.css")
        link(rel="stylesheet", href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-blue.min.css")
    body(ng-app='BlankApp', ng-cloak='')
        span.repoName(style="display:none;", data-repoName=subTitle)
        span.spinnerContainer(layout-align="center center", style="display: none;")
            md-progress-circular
        div(ng-controller="repoCtrl", layout="row")
            md-sidenav.md-sidenav-left(md-component-id="left",md-is-locked-open="true",md-whiteframe="4")
                md-toolbar.md-theme-indigo
                    .md-toolbar-tools
                        h2(flex='', md-truncate='') Menu
                md-content(layout-margin="", style="height: 100%", layout="column")
                    md-button.md-raised.md-primary(ng-click="goHome()")
                        i.fa.fa-home
                        | &nbsp;Home
                    md-sidemenu(locked="true")
                        md-sidemenu-group
                            md-sidemenu-content(md-icon="code-fork", md-heading="branches")
                                span(ng-repeat="branch in branches")
                                    md-sidemenu-button(ng-click="changeBranch(branch.name, $event)")
                                        i.fa.fa-circle-o(ng-if="branch.active", class="branchActive")
                                        p(ng-class="branch.active ? 'active-branch' : ''") {{branch.name}}
                        md-sidemenu-group
                            md-sidemenu-content(md-icon="tags", md-heading="tags")
                                span(ng-repeat="tag in tags")
                                    md-sidemenu-button(ng-click="null")
                                        p {{tag.name}}
                        //md-sidemenu-group
                        //    md-sidemenu-content(md-icon="archive", md-heading="shelves")
                    md-button.md-accent(ng-click="refreshRepo()") Refresh
            div#repoGrid(flex="", layout="column")
                include fragments/toolbar
                md-content(layout-padding="")
                    div(grid-data='', grid-options='gridOptions', grid-actions='gridActions', server-pagination="true")
                        include fragments/pagination.jade
                        div
                            table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
                                thead
                                    tr
                                        th
                                            span
                                        th
                                            span Description
                                        th.sortable(sortable='changeset')
                                            span Changeset
                                        th.sortable(sortable='user')
                                            span Author
                                        th.sortable(sortable='date')
                                            span Date
                                        th
                                            span Revision
                                tbody
                                    tr(grid-item='', ng-class="(item.revision == currentRevision ? 'current' : '')+' '+(item.changeset == selectedChangeset ? 'selected' : '')", ng-click="viewRevision(item.changeset)")
                                        td.mdl-data-table__cell--non-numeric
                                            span()
                                        td(ng-bind='item.summary')
                                        td(ng-bind="item.changeset")
                                        td(ng-bind='item.user')
                                        td(ng-bind='item.date')
                                        td(ng-bind='item.revision')
                        include fragments/pagination.jade
                    div(layout="row")
                        div.file-list(flex="40", layout="column")
                            md-list.fileList(flex="")
                                md-subheader.md-sticky Files
                                span(ng-repeat="file in changedFiles track by $index")
                                    md-list-item.md-1-line(ng-click="getFileChanges(file)", ng-class="'fileItem-'+(file.mod != '?' ? (file.mod == '!' ? 'R' : file.mod) : 'unknown')+' '+(file.filename==selectedFile.filename ? 'selectedFile' : '')", flex="")
                                        md-checkbox.md-primary(ng-if="selectedChangeset == ''", data-filename="{{file.filename}}", flex="5")
                                        span(flex="5")
                                            i.fa.fa-plus.filestatusIcon(ng-if="file.mod == 'A'")
                                            i.fa.fa-pencil.filestatusIcon(ng-if="file.mod == 'M'")
                                            i.fa.fa-ban.filestatusIcon(ng-if="file.mod == 'R' || file.mod == '!'")
                                            i.fa.fa-question-circle.filestatusIcon(ng-if="file.mod == '?'")
                                        span.overflow-left(flex="80") {{file.filename}}
                                        md-button.md-icon-button(ng-if="selectedChangeset == ''", data-filename="{{file.filename}}", ng-click="undo(file, $event)", flex="10")
                                            i.fa.fa-undo
                        div(flex="60", layout="column")
                            include fragments/diff.jade
                    div(layout="column", ng-if="selectedChangeset == ''")
                        md-input-container.md-block
                            label Commit Message
                            textarea(rows="3", ng-model="commitMsg")
                        div(layout="row")
                            span(flex="")
                            md-button.md-raised.md-primary(ng-click="commit(commitMsg, $event)", ng-disabled="getCheckedFiles().length == 0") Commit
        include fragments/includes.jade