html(lang='en')
    head
        include fragments/head.jade
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
        link(rel="stylesheet", href="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.1-master-a687bfc/angular-material.css")
        link(rel="stylesheet", href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-blue.min.css")
    body(ng-app='BlankApp', ng-cloak='')
        span.repoName(style="display:none;", data-repoName=subTitle, data-repoUrl=repoUrl)
        span.spinnerContainer(style="display: none;")
            md-progress-circular
        div(ng-controller="repoCtrl", layout="row")
            include fragments/repo/repoSidenav
            div#repoGrid(flex="", layout="column")
                md-content
                    include fragments/toolbar
                    div.verticalScroll(layout-padding="", layout="column", flex="")
                        div(grid-data='', grid-options='gridOptions', grid-actions='gridActions', server-pagination="true")
                            include fragments/repo/pagination
                            div
                                include fragments/repo/changeTable
                            include fragments/repo/pagination
                        div(layout="row")
                            include fragments/repo/fileList
                            div(flex="60", layout="column")
                                include fragments/repo/diff
                        div(layout="column", ng-if="selectedChangeset == ''")
                            md-input-container.md-block
                                label Commit Message
                                textarea(rows="3", ng-model="commitMsg")
                            div(layout="row")
                                span(flex="")
                                md-button.md-raised.md-primary(ng-click="commit(commitMsg, $event)", ng-disabled="getCheckedFiles().length == 0") Commit
        include fragments/includes.jade